{% extends "base.html" %}

{% block content %}

<p>Edit Your Vineyard</p>
<form action="/save_vineyard" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <div>
    Vineyard Site: <input type="text" name="name" value="{{name}}">
    </div>
    <div>
    Price: <input type="text" name="price" value="{{price}}">
    </div>
    Image: <input type="text" name="image" value="{{image}}">
    </div>
    <input type="Submit" value="Save">
</form>

<form action="/delete_food" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <input type="submit" value="Delete Item">
{% endblock %}