<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="maintitle">VinProof</title>
    <link rel="stylesheet" href="/static/main_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <ul class="menu-nav"> 
                <li><a class="links" href="/"><img class="logo" src="/static/Logo.png"></li> </a>
                <li><a class="links" href="/about"> About </li></a>
                <li><a class="links" href="/your_vineyard"> Your Vineyard </li></a>
                <li><a class="links" href="/spray_tool"> Spray Tool </li></a>
                <li><a class="links" href="/contact"> Contact </li></a>
                {% if user_object['id']: %}
                    <li><a class="links" id="logout" href="/logout"> Log out </a> </li>
                {% else %}
                    <li><a class="links" id="login" href="/login"> Login </a> </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    </main>
        <section>
            <div class="container">
            {% block content %}
                <div class="content">
                {% if user_object['id']: %}
                    {% if user_object['company']: %}
                        <h2 class="slogan">Welcome {{user_object['full_name']}} from {{user_object['company']}}</h2>
                        <a class="buttons" id="join" href='/your_vineyard'>Your Vineyard</a>
                    {% else %}
                        <h2 class="slogan">Welcome {{user_object['full_name']}}</h2>
                        <a class="buttons" id="join" href='/your_vineyard'>Your Vineyard</a>
                    {% endif %}
                {% else %}
                    <h2 class="slogan">Helping you work in harmony with your land</h2>
                    <a class="buttons" id="join" href='/signup'>Join Today</a>
                {% endif %}
                </div>
            {% endblock %}
            </div>
        </section>
        <footer>
        <p class="copyright"> © VinProof 2021</p>
        </footer>
    </main>
</body>
</html>