{% extends "base.html" %}

{% block content %}
    {% if user_object['id'] %}
    <div class="info">
        <div class="save">
            <form class="formtext" action="/save_vineyard" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                Vineyard Site: <input id="values" type="text" name="vineyard_site" placeholder="{{vineyard_object['vineyard_site']}}" value="{{vineyard_site}}"><br>
                Vineyard Size: <input id="values" type="text" name="vineyard_size" placeholder="{{vineyard_object['vineyard_size']}}" value="{{vineyard_size}}"><br>
                Varieties: <input id="values" type="text" name="varieties" placeholder="{{vineyard_object['varieties']}}" value="{{varieties}}"><br>
                Elevation: <input id="values" type="text" name="elevation" placeholder="{{vineyard_object['elevation']}}" value="{{elevation}}"><br>
                Orientation: <input id="values" type="text" name="orientation" placeholder="{{vineyard_object['orientation']}}" value="{{orientation}}"><br>
                EL_stage: <input id="values" type="text" name="E_L_Stage" placeholder="{{vineyard_object['E_L_stage']}}" value="{{E_L_Stage}}"><br>
                <input class="vineyard_buttons" type="Submit" value="Save"><br>
            </form><br>
        </div>
        <div class="delete">
            <form class="formtext" action="/remove_vineyard" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="submit" class="vineyard_buttons" value="Delete"><br>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}