{% extends "base.html" %}

{% block content %}
    <h2 class="slogan" id="your_vineyard">Login in to your portal: </h2>
    <h3 id="nodice">{{no_strings_attached}}</h3>
    <div class="login">
        <form class="login" action="/login_confirm" method="POST">
            <input type="hidden" name="user_id">
            <p class="formlabels"> Email: </p><input class="formfields" type="text" name="email"><br><br>
            <p class="formlabels"> Password: </p><input class="formfields" type="password" name="password"><br><br>
            <input id="login_button" type="Submit" value="Sign In">
        </form>
    </div>
{% endblock %}