{% extends "base.html" %}

{% block content %}
    <h2 class="slogan">Sign up to our database: </h2>
    <h3 class="error">{{error_message}}</h3>
    <form class="signup" action="/signup_action" method="POST">
        <div class="signup1">
            <p class="formlabels"> Full Name: <p><input class="formfields" type="text" name="full_name"><br>
            <p class="formlabels"> Company (optional): <p><input class="formfields" type="text" name="company"><br>
        </div>
        <div class="signup2">
            <p class="formlabels"> Email: <p><input class="formfields" type="text" name="email"><br>
            <p class="formlabels"> Password: <p><input class="formfields" type="password" name="password"><br>
        </div>
        <input id="signup_button" type="Submit" value="Sign Up">
    </form>
{% endblock %}