{% extends "base.html" %}

{% block content %}
    {% if user_object['id'] and vineyard_object['id']: %}
        <h2 class="slogan">Hi {{user_object['full_name']}}, welcome to {{vineyard_object['vineyard_site']}} vineyard: </h2>
        <div class="formtext">
            Vineyard Size: {{vineyard_object['vineyard_size']}} ha<br><br>
            Varieties: {{vineyard_object['vineyard_varities']}}<br><br>
            Elevation: {{vineyard_object['elevation']}}<br><br>
            Orientation: {{vineyard_object['orientation']}}<br><br>
            <a class="buttons" id="vineyard_buttons" href="/edit_vineyard?id={{vineyard_object['id']}}">Edit</a><br>
            <a class="buttons" id="vineyard_buttons" href="/spray_tool?id={{vineyard_object['id']}}">Spray Tool</a>
        </div>
    {% elif user_object['id'] %}
        <h2 class="slogan">Create your vineyard: </h2>
        <div class="formtext">
            <form class="formtext" action="/vineyard_confirm" method="POST">
                Vineyard Site: <input type="text" name="vineyard_site"><br>
                Vineyard Size (ha): <input type="text" name="vineyard_size"><br>
                Varieties: <input type="text" name="varieties"><br>
                Elevation: <input type="text" name="elevation"><br>
                Orientation: <input type="text" name="orientation"><br>
                <input class="buttons" id="vineyard_buttons" type="Submit" value="Submit">
            </form>
        </div>
    {% else %}
        <h2 class="slogan">Add your vineyard</h2>
        <a id="account" href='/signup'>Create account</a>
    {% endif %}
{% endblock %}